# developer
alias g='gem'
alias b='bundle'
alias be='bundle exec'
alias bu='bundle update'
alias r='be rails'
alias rs='bin/rails'
alias dev='export RAILS_ENV=development'
alias testing='export RAILS_ENV=test'
alias prod='export RAILS_ENV=production'
alias pp='rackup private_pub.ru -s thin -E production'
alias rsc='rs c'
alias rsct='RAILS_ENV=test rs c'
alias rscp='RAILS_ENV=production rs c'
alias dbc='be rake db:create'
alias dbf='be rake db:fixtures:load'
alias dbm='be rake db:migrate'
alias dbs='be rake db:seed'
alias dbtl='be rake db:test:load'
alias dbtp='be rake db:test:prepare'
alias dbsd='be rake db:schema:dump'
alias dbsp='be rake db:setup RAILS_ENV=production'
alias dbdev='dbm; cp db/development.sqlite3 db/backup.sqlite3'
alias dbbak='cp db/backup.sqlite3 db/development.sqlite3'
alias rac='be rake assets:clean'
alias rap='be rake assets:precompile'
alias rapn='be rake assets:precompile:nondigest'
alias rlc='be rake log:clear'
alias rtc='be rake tmp:clear'
alias rr='be rake routes'
alias rt='be rake -T'
alias sp='be rspec spec/'
alias cov='RAILS_ENV=test COVERAGE=true be rspec spec/'
alias rbp='be rails_best_practices'
alias beg='be guard'
alias metric='COVERAGE=true metric_fu -r'
alias logdev='tail -f log/development.log'
alias logprod='tail -f log/production.log'
alias h='curl -I'
alias mx='host -t mx'
alias a='android'
alias autopull='watch -n 60 git pull'
alias jsc='java -jar ~/.jars/js.jar'
alias phantomjs='~/.jars/phantomjs'

# git
alias commit='git commit'
alias pull='git pull'
alias push='git push'
alias stash='git stash'
alias revert='git revert'

# developer combo
alias acap='rac; rap'
alias dbms='dbm; dbs'

# admin
alias update='sudo aptitude update'
alias upgrade='sudo aptitude upgrade'
alias install='sudo aptitude install'
alias repository='sudo add-apt-repository'
alias asearch='aptitude search'
alias ashow='aptitude show'
alias getip='get_network ip'
alias getmac='get_network mac'
alias getmask='get_network netmask'
alias cpuinfo='cat /proc/cpuinfo'
alias meminfo='cat /proc/meminfo'

# webmaster
alias ss='sudo service'
alias apache='ss apache2'
alias sql='ss mysql'
alias webmaster-start='sql start; apache start'
alias webmaster-stop='apache start; sql start'
alias webmaster-restart='sql restart; apache restart'

# user
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ~='cd ~'
alias get='wget --user-agent="Mozilla/4.0 (compatible; MSIE 6.0; Windows NT 5.1; SV1)"'
alias create-dsa='ssh-keygen -t dsa'

# ruby on bash
alias .size='du -s'
alias .include='include'

# private aliases
if [ -f ~/.home_aliases ]; then
  source ~/.home_aliases
fi
